<div class="playerCover"><img></div>
<div class="playerMetadata">
</div>
<div class="playerControls">
  <div class="playerControls-left">
    <button class="playerControl-toggle">
      <i class="fa fa-play playerControl-ifPaused"></i>
      <i class="fa fa-pause playerControl-ifPlaying"></i>
    </button>
    <button class="playerControl-prev"><i class="fa fa-fast-backward"></i></button>
    <button class="playerControl-next"><i class="fa fa-fast-forward"></i></button>
    <span class="playerControl-time"></span>
  </div>
  <input type="range" class="playerControl-range">
</div>
