<li class="row-special scroll-placeholder">
    <span class="col row-flag"></span>
    <span class="col">Loading...</span>
    <span class="col"><a href="#" class="row-loading-retry">Retry</a></span>
</li>